@import url(main.css);

.container div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container div h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.container div p {
    font-family: 'Inconsolata', monospace;
    font-size: 1.20rem;
    width: 75%;
}

.container .home {
    display: block;
}

strong {
    color: var(--accent);
    font-style: italic;
    font-size: 1.25rem;
}

.container div a {
    width: 50%;
    padding: 1.5rem;
    margin-top: 2rem;

    background: var(--primaryButton);
    color: #000;
    border: solid black 1px;
    border-radius: 5px;

    font-size: 15px;
    font-weight: 600;
    text-decoration: none;

    transition: background 300ms,
        transform 500ms;
}

.container div a:hover, .container div a:focus {
    background: var(--hover);
    transform: scale(1.15);
}

@keyframes floating {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5%);
    }
}

@keyframes glow {
    0%, 50%, 100% {
        background: var(--primaryButton);
    }

    25%, 75% {
        background: var(--accent);
    }
}