<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/about.css">
    <script type="module" defer src="../index.js"></script>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <a href="./" class="logo">
                <h1>Recipes</h1>
                <h2>for now</h2>
            </a>
            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="../index.html" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="./views/about.html" class="nav-link">About</a></li>
                </ul>
            </div>

            <div class="mobile-menu-icon">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </nav>
        <div class="mobile-menu">
            <ul>
                <li class="nav-item"><a href="../index.html" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="./views/about.html" class="nav-link">About</a></li>
            </ul>
        </div>
    </header>
    <section class="container about">
        <div>
            <h1>About the website</h1>
            <p>Recipes for now is a portfolio website that helps people which wants to <strong>cook something new</strong>.
                For this to happen the website developer (Leonardo Lopes Honda) used the technologies HTML 5, CSS 3,
                Javascript and Spoonacular API to provide a <strong>good looking easy to use website</strong> for all users to have a 
                good experience while search for the todays recipe.
            </p>
        </div>
    </section>
</body>
</html>
